<div class="row">
  <div class="col-sm-12" id="tweets">
  </div>
</div>
<div class="row">
  <div class="col-sm-12" id="chat_window"> </div>
  <input class="col-sm-12" placeholder="Message..." id="message_box">
</div>
